// Color system

// gray-color-variables
$white: #ffffff !default;
$gray-100: #fafafa !default;
$gray-200: #f7f7f7 !default;
$gray-300: #f2f2f2 !default;
$gray-400: #e5e5e5 !default;
$gray-500: #d9d9d9 !default;
$gray-600: #999999 !default;
$gray-700: #7d8891 !default;
$gray-800: #4e5d6b !default;
$gray-900: #323f4f !default;
$black: #162d3d !default;

// // color-variables
// $primary-25: #e5f1f8 !default;
// $primary-50: #cce4f7 !default;
// $primary-100: #4da0e4 !default;
// $primary-200: #0077d9 !default;
// $primary-300: #023e8a !default;

// color-variables
// $primary-25: #e5f1fb !default;
// $primary-50: #cce4f8 !default;
// $primary-100: #4d9fe5 !default;
// $primary-200: #0254b8 !default;
// $primary-300: #02418e !default;
// $primary-300: #002ea1 !default;

// color-variables [atlassian]
$primary-25: #edf4ff !default;
$primary-50: #deebff !default;
$primary-100: #2684ff !default;
$primary-200: #0052cc !default;
$primary-300: #0747a6 !default;

$red: #f7462f !default;
$red-50: #{$red}0a !default;
$red-100: #{$red}33 !default;

$orange: #f7802f !default;

$green: #0c8f36 !default;
$green-50: #{$green}33 !default;

$yellow: #ffd85c !default;

$pink: #8e21b1 !default;
$pink-200: #8e21b1 !default;
$pink-100: #aa4dc8 !default;
$pink-50: #eeddf3 !default;

$background: #fafafa;

// font-color-variables
$black-HE: #20455e; //High Emphasis color
$black-ME: #577083; //Medium Emphasis color
$black-disabled: #b6c1cd; //Low Emphasis color

// Skelton properties
$base-color: $white;
$shine-color: $background;
$animation-duration: 1.6s;

// default-font
$default-font: "Poppins", sans-serif;

$gap: 24px;
